<h2 id="contact">Contact</h2>
<div class="well">
	<form action="//formspree.io/TreyDevDenver@gmail.com" method="POST">
		<input type="hidden" name="_next" value="//TreyDevDenver.github.io/thanks.html" />
		<div class="form-group">
	    <label for="inputName">Name</label>
	    <input type="text" class="form-control" name="name" placeholder="Your Name">
	  </div>
	  <div class="form-group">
	    <label for="inputName">Email</label>
	    <input type="email" class="form-control" name="email" placeholder="You@Example.com">
	  </div>
	  <div class="form-group">
	    <label for="inputName">Message</label>
	    <textarea class="form-control" name="message" placeholder="Your Message" rows="3"></textarea>
	  </div>
	  <button type="submit" class="btn btn-default btn-primary">Submit</button>
	</form>
</div>