<h2 id="projects">Projects</h2>

<div class="well">

	<div class="row">
	  <div class="col-md-6">
	  	<div class="media">
			  <div class="media-left">
			    <!-- <a href="#"> -->
			      <img class="media-object" src="images/ssp_thumb.jpg" alt="Cisco SSP" width="128" height="93">
			    <!-- </a> -->
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Cisco SSP</h4>
			    <p>Captive portal content management system.</p>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
	  	<div class="media">
			  <div class="media-left">
			    <!-- <a href="#"> -->
			      <img class="media-object" src="images/pes_thumb.jpg" alt="PES Health Kiosk" width="128" height="93">
			    <!-- </a> -->
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">PES Health Kiosk</h4>
			    <p>Interactive health care kiosk.</p>
			  </div>
			</div>
		</div>
	</div>

	<div class="row">
		  <div class="col-md-6">
	  	<div class="media">
			  <div class="media-left">
			    <!-- <a href="#"> -->
			      <img class="media-object" src="images/rcrtrkr_thumb.jpg" alt="RCRTRKR" width="128" height="93">
			    <!-- </a> -->
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">RCRTRKR</h4>
			    <p>Go kart race visulaizations.</p>
			    <iframe src="https://ghbtns.com/github-btn.html?user=TreyDevDenver&repo=rcrtrkr&type=watch&count=false&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
			  </div>
			</div>
		</div>
	  <div class="col-md-6">
	  	<div class="media">
			  <div class="media-left">
			    <!-- <a href="#"> -->
			      <img class="media-object" src="images/qt_thumb.jpg" alt="Quiet Talk" width="128" height="93">
			    <!-- </a> -->
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Quiet Talk</h4>
			    <p>Hospital paging and messaging application.</p>
			  </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
	  	<div class="media">
			  <div class="media-left">
			    <!-- <a href="#"> -->
			      <img class="media-object" src="images/notifier_thumb.jpg" alt="Jenkins Notifier" width="128" height="93">
			    <!-- </a> -->
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Jenkins Notifier</h4>
			    <p>Blinky lights Jenkins build monitor.</p>
			    <iframe src="https://ghbtns.com/github-btn.html?user=TreyDevDenver&repo=jenkins-notifierCisco&type=watch&count=false&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
	  	<div class="media">
			  <div class="media-left">
			    <!-- <a href="#"> -->
			      <img class="media-object" src="http://placehold.it/128x93" alt="Flash Projects" width="128" height="93">
			    <!-- </a> -->
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Flash Projects</h4>
			    <p>Coming Soon</p>
			  </div>
			</div>
		</div>
	</div>

</div>