<h2 id="skills">Skills</h2>
<div class="well">
	<dl>
		<dt>JavaScript</dt>
		<dd>
			<ul class="list-inline">
			  <li>jQuery</li>
			  <li>Node.js</li>
			  <li>Sails.js</li>
			  <li>Express</li>
			  <li>Socket.IO</li>
			  <li>React</li>
			  <li>Reflux</li>
			  <li>CoffeeScript</li>
			  <li>Webpack</li>
			  <li>Gulp</li>
			</ul>
		</dd>
		<dt>PHP</dt>
		<dd>
			<ul class="list-inline">
				<li>OOP</li>
				<li>MVC</li>
				<li>CakePHP</li>
				<li>CodeIgniter</li>
				<li>Lithium</li>
				<li>Laravel</li>
				<li>PHPUnit</li>
				<li>PEAR</li>
				<li>PECL</li>
			</ul>
		</dd>
		<dt>HTML</dt>
		<dd>
			<ul class="list-inline">
				<li>HTML5</li>
				<li>CSS</li>
				<li>Less</li>
				<li>Bootstrap</li>
				<li>jQuery UI</li>
				<li>Responsive</li>
				<li>Mobile First</li>
				<li>Semantic Design</li>
			</ul>
		</dd>
		<dt>Database</dt>
		<dd>
			<ul class="list-inline">
				<li>MySQL</li>
				<li>SQLite</li>
				<li>MongoDB</li>
				<li>Schema Design</li>
				<li>Query Optimization</li>
				<li>Migrations</li>
				<li>Transactions</li>
				<li>Binary Storage</li>
				<li>Scaling</li>
				<li>Replication</li>
				<li>Failover</li>
			</ul>
		</dd>
		<dt>Adobe</dt>
		<dd>
			<ul class="list-inline">
				<li>Flash</li>
				<li>ActionScript</li>
				<li>CS</li>
				<li>Flex</li>
				<li>AIR</li>
				<li>Director</li>
				<li>Authorware</li>
			</ul>
		</dd>
		<dt>Visualization</dt>
		<dd>
			<ul class="list-inline">
				<li>D3</li>
				<li>Google Charts</li>
				<li>Highcharts</li>
				<li>SVG</li>
				<li>UML</li>
				<li>Sequence &amp; Flow Diagrams</li>
				<li>Wireframes</li>
				<li>Balsmic</li>
				<li>OmniGraffle</li>
				<li>Visio</li>
			</ul>
		</dd>
		<dt>DevOps</dt>
		<dd>
			<ul class="list-inline">
				<li>VMware</li>
				<li>Vagrant</li>
				<li>Puppet</li>
				<li>Mercurial</li>
				<li>Git</li>
				<li>SVN</li>
				<li>Codebase</li>
				<li>Bitbucket</li>
				<li>GitHub</li>
				<li>Slack</li>
				<li>AWS</li>
				<li>TDD</li>
				<li>BDD</li>
				<li>Linux Administration</li>
				<li>Python</li>
				<li>Bash</li>
				<li>Apache</li>
				<li>Nginx</li>
				<li>REST</li>
				<li>SOAP</li>
				<li>HAProxy</li>
				<li>Memcache</li>
				<li>Redis</li>
				<li>High Availability</li>
				<li>Scalability</li>
			</ul>
		</dd>
	</dl>
</div>